<% layout('/layouts/boilerplate') %>
<body>
    <h3>All listings</h3>
    <form method="GET"action="/listings/new">
        <button>Add a new Listing</button>
    </form>
    <% for(let listing of allListings){ %>
        <h3><a href="/listings/<%= listing._id %>"><%= listing.title %></a></h3>

    <%}%>
</body>
