body{
    background-color: pink;
}
.navbar{
    height:5rem;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.f-info-links a{
    color:#222222 !important;
    text-decoration: none;
}

.f-info{
    text-align:center;
    height:8rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials i{
    font-size :1.2rem;
    margin-right:1rem;
}